@media (max-width: 962px) {
  body {
    margin: 20px;
    height: auto;
  }
  .container {
    display: flex;
    flex-direction: column;
  }

  aside {
    width: 100%;
    border-right: none;
    text-align: center;
  }
  aside img {
    width: 120px;
    margin: 0 auto;
    display: block;
  }

  main {
    width: 100%;
    padding: 1.25rem;
  }
  h1 {
    font-size: 1.6rem;
  }
  .projeto a {
  display: inline-block;
  padding: 0.5rem 0;
}

}
