* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: #0b0b0b;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  margin: 0 auto;
  padding: 20px;
  background-color: #2f2f2fcc;
  border: 1px solid #ffffff;
  border-radius: 15px;
  width: 82%;
  height: auto;
  padding: 16px;
  gap: 20px;
}
aside {
  width: 25%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ffffff83;
  padding-right: 20px;
  align-items: center;
}

/* Estilização da parte do nome , icone , e descrição*/
#imgIconeUser {
  width: 200px;
  border-radius: 50%;
}
aside h1 {
  margin-top: 20px;
  margin-bottom: 10px;
}

aside p {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.5;
  text-align: justify;
}
/*-------------------------------------*/

/* Estilização da parte do conteúdo principal */
main {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
}
main h2 {
  margin-bottom: 10px;
  border-bottom: 1px solid #ffffff54;
  padding-bottom: 5px;
}
main ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
main li {
  margin-top: 8px;
  margin-bottom: 8px;
}

main ul li img {
  width: 40px;
  margin-right: 8px;
}
.titulo {
  color: #ffffff;
}
p {
  color: #d1d1d1;
}
.tituloSecao {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.2em;
  font-size: large;
  text-align: start;
}
.sobreMim {
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 1em;
  line-height: 1.5;
  text-align: start;
}

.projetos {
  display: flex;
  flex-direction: column;
  gap: 6px;
  text-align: center;
}
.projetos p {
  color: #a9a9a9;
}
.projetos li {
  background-color: #3a3a3a;
  border: 1px solid #ffffff83;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
}
.projetos a {
  color: #7c9cff;
}
.projetos a:hover {
  color: #9fb5ff;
}
