/* reset ------------------------------------------------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-width: none;
}

body {
  height: 100vh;
  background-color: #0b0b0b;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
body.light {
  background-color: #ffffff;
  transition: all 0.3s ease;
}
/*button tema dark/light*/
#ligar {
  display: flex;
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  height: max-content;
  padding: 4px;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff;
  background: transparent;
  outline: none;
  border-radius: 10px;
  transition: all 1s ease;
}

#ligar.light {
  border: 1px solid #000000;
  border-radius: 10px;
}

#ligar img {
  width: 25px;
  filter: invert(1);
}

/* layout ---------------------------------------------------------------- */
.container {
  display: flex;
  background-color: #2f2f2fcc;
  border: 1px solid #ffffff;
  border-radius: 15px;
  width: 82%;
  height: auto;
  padding: 16px;
  gap: 20px;
}

.container.light {
  border: 1px solid #000000;
}

aside {
  width: 25%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ffffff83;
  padding-right: 20px;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
}

/* aside  ----------------------------------------------------- */
#imgIconeUser {
  width: 200px;
  border-radius: 50%;
}

aside h1 {
  margin-top: 20px;
  margin-bottom: 10px;
}

aside p {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.5;
  text-align: justify;
  color: #d1d1d1;
}

.social a {
  text-decoration: none;
}

.social img {
  margin: 10px;
  width: 37px;
  opacity: 0.8;
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
}

.social a:hover img {
  opacity: 1;
  transform: translateY(-2px);
  transition: transform 0.2s ease;
}

/* main ------------------------------------------------------ */
main h2 {
  margin-bottom: 10px;
  border-bottom: 1px solid #ffffff54;
  padding-bottom: 5px;
}

main p {
  color: #d1d1d1;
}

.iconeShields {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.iconeShields li {
  margin-top: 8px;
  margin-bottom: 8px;
}

.iconeShields img {
  width: 40px;
  margin-right: 8px;
}

/* tipografia ------------------------------------------------------------ */
.titulo {
  color: #ffffff;
}

.tituloSecao {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: large;
  text-align: start;
}

.sobreMim {
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 1em;
  line-height: 1.5;
  text-align: start;
}

/* projetos --------------------------------------------------------------- */
.projetos {
  display: flex;
  flex-direction: column;
  gap: 6px;
  text-align: center;
  list-style-type: none;
  
}

.projetos p {
  color: #a9a9a9;
}

.projetos li {
  background-color: #3a3a3a;
  border: 1px solid #ffffff83;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  max-width: 890px;
}

.projetos a {
  color: #7c9cff;
}

.projetos a:hover {
  color: #9fb5ff;
}

.projetos li:hover {
  transform: scale(1.01);
  box-shadow: 0 0 10px #7c9cff;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease-in-out;
}

.social a:hover img {
  opacity: 1;
  transform: translateY(-2px);
}
